ffmpeg https://github.com/FFmpeg/FFmpeg
libav https://github.com/libav/libav
openssl https://github.com/openssl/openssl.git
libtiff https://gitlab.com/libtiff/libtiff.git
linux https://github.com/torvalds/linux.git
tcpdump https://github.com/the-tcpdump-group/tcpdump.git
qemu https://github.com/qemu/qemu.git
xen https://github.com/xen-project/xen.git
